version: 0.2

phases:
  build:
    commands:
      - chmod +x deploy/deploy.sh
      - deploy/deploy.sh

artifacts:
  files: []

env:
  variables:
    AWS_ACCOUNT_ID: "828414850187"
    AWS_DEFAULT_REGION: "eu-north-1"

artifacts:
  files: []

env:
  variables:
    AWS_ACCOUNT_ID: "828414850187"
    AWS_DEFAULT_REGION: "eu-north-1"
    # Set INSTANCE_ID in the CodeBuild project environment
